:root {
    /* colors */

    /* main color  */
    --cl-pink: hsl(322, 100%, 66%);
    /* sub colors*/
    --cl-whity: hsl(193, 100%, 96%);
    --cl-dark-green: hsl(192, 100%, 9%);
    --cl-grey: hsl(208, 11%, 55%);

    /* fonts */

    /* headings */
    --main-font: 'Poppins', sans-serif;
    /* other */
    --sub-font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--sub-font);
}

h1, h2 {
    font-family: var(--main-font);
}



header {
    background-color: var(--cl-whity);
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    gap: 4em;
}

header>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top .free {
    background-color: white;
    padding: 0.3em 1.4em;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.2);
}

.button {
    border-radius: 10em;
}

header>.bottom {
    display: flex;
    justify-content: space-around;
}

header .bottom .text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



.start {
    background-color: var(--cl-pink);
    color: white;
    width: 18em;
    padding: 0.7em 0;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.2);
}


main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 230vh;
    margin-top: 3em;
    gap: 3em;
    position: relative;
}

main>article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

main>article p {
    color: var(--cl-grey);
    display: inline-block;
}



main .question {
    border-radius: 1em;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

footer {
    background-color: var(--cl-dark-green);
    color: white;
    font-size: 1.2em;
}

footer .media img {
    width: 2em;
    aspect-ratio: 1/1;
}

footer .contact>div {
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 1em 0;
}

footer .contact {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}

footer .informations a {
    display: block;
    color: white;
    text-decoration: none ;
    margin: 0.5em 0;
}

footer .media .icons {
    display: flex;
    justify-content: center;
}

footer .contact img {
    transform: translateY(0.4em);
}

footer .media>p {
    font-size: 0.8em;
    padding-top: 1em;
}

footer .media .icons img {
    margin-left: 0.5em;
}

@media (max-width : 450px) {
    header {
        background-image: url(bg-hero-mobile.svg);
        padding: 2em 1.5em;
        text-align: center;
    }

    header .top>img {
        width: 6.5em;
        height: 1.2em;
        display: inline-block;
    }

    h1 {
        font-size: 1.8em;
    }

    header .bottom .text p {
        font-size: 1.1em;
    }

    header .top>.button {
        display: inline-block;

    }

    header>.bottom {
        flex-flow: column nowrap;
        gap: 3.4em;
        justify-content: space-around;
    }

    header .bottom .text {
        height: 23em;
        justify-content: space-around;
    }

    main>article {
        height: 65vh;
        flex-flow: column nowrap;
        width: 90%;
    }

    main>article img {
        width: 70%;
    }

    main article p {
        font-size: 1em;
        width: 18em;
    }

    main>article h2 {
        margin: 1em;
    }

    main .question {
        width: 90%;
        height: 12em;
        position: absolute;
        bottom: -6em;
        left: 5%;
    }

    main .question h2 {
        font-size: 1.2em;
    }

    footer {
        height: 115vh;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        gap: 1.5em;
        display: flex;
        padding: 8em 1.5em 1.5em;
    }

}

@media (min-width : 451px) {
    header {
        padding: 4em;
    }

    header .bottom {
        flex-flow: row nowrap;
        align-items: center;
    }

    header .bottom img {
        width: 52em;
    }

    header .bottom .text {
        align-items: flex-start;
        justify-content: space-around;
        height: 65%;
    }

    header h1 {
        width: 13em;
        font-size: 3.2em;
    }

    header .bottom .text p {
        font-size: 1.3em;
        width: 29em;
    }

    header .bottom .button {
        text-align: center;
    }

    main>article {
        height: 60vh;
        width: 90%;
    }

    main article>img {
        width: 28%;
        aspect-ratio: 1.2/1;
    }

    .groth, .users {
        flex-flow: row-reverse nowrap;
    }

    .conversations {
        flex-flow: row nowrap;
    }

    main article .text {
        width: 35%;
        text-align: left;
    }

    main article p {
        font-size: 1.3em;
        margin-top: 1em;
    }

    main .question {
        width: 50%;
        height: 12em;
        position: absolute;
        bottom: -6em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5em;
    }

    footer {
        height: 70vh;
        padding: 10em 6em 3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 4fr;
    }

    footer>svg {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .contact {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 90%;
    }

    .informations {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center ;
        align-content: space-evenly
    }

    .media {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-column: 3/4;
        grid-row: 2/3;
        justify-content: center;
    }

    .button:hover {
        opacity : 0.5 ;
    }
    footer .informations a:hover {
        text-decoration: underline;
        text-decoration-color : white ;
    }
}