:root {
    /* colors */

    /* main color  */
    --cl-pink: hsl(322, 100%, 66%);
    /* sub colors*/
    --cl-whity: hsl(193, 100%, 96%);
    --cl-dark-green: hsl(192, 100%, 9%);
    --cl-grey: hsl(208, 11%, 55%);

    /* fonts */

    /* headings */
    --main-font: 'Poppins', sans-serif;
    /* other */
    --sub-font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--sub-font);
}

h1, h2 {
    font-family: var(--main-font);
}

header {
    background-color: var(--cl-whity);
    display: flex;
}

header>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top .free {
    background-color: white;
    padding: 0.3em 1.4em;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.2);
}

.button {
    border-radius: 10em;
}

header>.bottom {
    display: flex;
    justify-content: space-around;
}

header .bottom .text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .bottom .text p {
    font-size: 1.2em;
}

.start {
    background-color: var(--cl-pink);
    color: white;
    width: 18em;
    padding: 0.7em 0;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start ;
    align-items: center;
    height: 230vh;
    margin-top : 3em ;
    gap : 3em ;
    position: relative;
}

main>article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

main > article  p {
    color : var(--cl-grey) ;
    font-size: 1em ;
    display: inline-block;
    width : 18em ; 
}

main > article h2 {
    margin : 1em ;
}

main .question {
    border-radius: 1em;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center ;
    justify-content: space-evenly;
    background-color: white ;
}
footer {
    background-color: var(--cl-dark-green);
    padding-top: 10em ;
    color : white ; 
    font-size : 1.2em ;
}

@media (max-width : 450px) {
    header {
        height: 100vh;
        background-image: url(bg-hero-mobile.svg);
        padding: 2em 1.5em;
        flex-flow: column nowrap;
        gap: 4em;
        text-align: center;
    }

    header .top>img {
        width: 6.5em;
        height: 1.2em;
        display: inline-block;
    }

    header .top>.button {
        display: inline-block;

    }

    header>.bottom {
        flex-flow: column nowrap;
        gap: 3.4em;
        justify-content: space-around;
    }

    header .bottom .text {
        flex-flow: column nowrap;
        height: 23em;

    }

    main>article {
        height: 65vh;
        flex-flow: column nowrap;
        width: 90%;
    }

    main>article img {
        width: 70%;
    }
    main .question {
        width: 90%;
        height : 12em ;
        position: absolute;
        bottom : -6em ;
        left : 5% ;
    }
    main .question  h2 {
        font-size: 1.2em;
    }
    footer {
        height: 120vh;
    }
}